#logout{
  a{
    width: 50%;
    float: left;
    min-height: 110px;
    color: lighten($black, 20%);
    padding-top: 10px;
    margin-top: -10px;
    text-align: center;
    &:first-child{
      border-right: dotted 1px #ababab;
    }
    i{
      display: block;
      font-size: 44px;
      margin: 0 auto;
    }
    span{
      font-size: 26px;
      font-weight: 600;
    }

    &:hover{
      color: $dark;
    }
  }
  @include clearfix;
}